<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="static :: head">
</head>
<body>
<div class="container-fluid">
    <div th:replace="top::top">
    </div>

    <div class="row">
        <div th:replace="menu::menu">
        </div>

        <!--页面主要代码放在这里-->
        <div class="col-md-9 col-md-offset-1">
            <iframe th:src="${'/' + path}" style="height: 500px;width: 100%;" frameborder="0" scrolling="no"
                    seamless></iframe>
        </div>

    </div>


</div>
<div th:replace="static :: script"></div>
</body>
</html>